:host {
  transition: all s ease-in-out;
}

mat-card {
  .header-and-content-container {
    position: relative;

    mat-card-header {
      img {
        height: 80px;
        width: 80px;
      }
    }

    mat-card-title {
      margin: 0;
    }
  }
}
